@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);
@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=East+Sea+Dokdo);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInAndUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-moz-keyframes fadeInAndUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-o-keyframes fadeInAndUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes fadeInAndUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@-webkit-keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@-moz-keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@-o-keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@-moz-keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@-o-keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes showMenuItem {
  0% {
    transform: scale(1.15) translateY(-30px);
    opacity: 0; }
  85% {
    transform: scale(1) translateY(0px); }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@-moz-keyframes showMenuItem {
  0% {
    transform: scale(1.15) translateY(-30px);
    opacity: 0; }
  85% {
    transform: scale(1) translateY(0px); }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@-o-keyframes showMenuItem {
  0% {
    transform: scale(1.15) translateY(-30px);
    opacity: 0; }
  85% {
    transform: scale(1) translateY(0px); }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes showMenuItem {
  0% {
    transform: scale(1.15) translateY(-30px);
    opacity: 0; }
  85% {
    transform: scale(1) translateY(0px); }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@media screen and (max-width: 600px) {
  .column {
    width: 100%; } }

/* rest in peace "syntactically awesome" */
body {
  margin: 0;
  background: #E1E1E1; }

h1 {
  margin: auto;
  color: #087F5B;
  font-size: 3em;
  font-weight: bold;
  text-align: center; }

strong {
  color: #087F5B; }

.link {
  color: #087F5B;
  font-weight: bold;
  text-decoration: none; }

.window {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 3px;
  background: #F1F1F1; }

.window .header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 2; }

.window .header .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.window .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%; }

.window .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s; }

.window .header .burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg); }

.window .header .burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg); }

ul.menu {
  position: absolute;
  display: block;
  top: 50vmin;
  transform: translateY(-28vmin);
  right: 0;
  text-align: right;
  padding: 0 4% 0 40px;
  list-style: none; }

ul.menu li.menu-item {
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  opacity: 1 \9;
  /* just in case ie */
  animation: showMenuItem 1s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s 1 normal both;
  -moz-animation: showMenuItem 1s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s 1 normal both;
  -webkit-animation: showMenuItem 1s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s 1 normal both;
  -o-animation: showMenuItem 1s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s 1 normal both; }

ul.menu li.menu-item:nth-child(1) {
  animation-delay: 2.27s; }

ul.menu li.menu-item:nth-child(2) {
  animation-delay: 2.34s; }

ul.menu li.menu-item:nth-child(3) {
  animation-delay: 2.41s; }

ul.menu li.menu-item:nth-child(4) {
  animation-delay: 2.48s; }

ul.menu li.menu-item:nth-child(5) {
  animation-delay: 2.55s; }

ul.menu li.menu-item:nth-child(6) {
  animation-delay: 2.62s; }

ul.menu li.menu-item:nth-child(7) {
  animation-delay: 2.69s; }

ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #c8cbcf;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 3.5vmin;
  line-height: 2.35;
  font-weight: bold;
  width: 100%; }

.window .content {
  font-family: "Ek Mukta", sans-serif;
  padding: 67px 4% 0;
  overflow: scroll;
  max-height: -webkit-calc(100% - 50px);
  max-height: -moz-calc(100% - 50px);
  max-height: calc(100% - 50px); }

.window .content::-webkit-scrollbar {
  display: none; }

.window .content .row {
  width: 100%;
  padding: 3% 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.window .content .row:last-child:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%; }

.window .content .column {
  width: 50%;
  height: 90vmin; }

.animated-title {
  color: #222;
  font-family: East Sea Dokdo, Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  top: 50%; }

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: relative; }

.animated-title > div div {
  font-size: 18vmin;
  padding: 2vmin 0;
  line-height: 80%; }

.animated-title > div div span {
  display: block; }

.animated-title > div.text-top {
  border-bottom: 1vmin solid #c8cbcf;
  color: #087F5B;
  top: 0; }

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%); }

.animated-title > div.text-bottom {
  bottom: 0;
  color: #c8cbcf; }

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  font-size: 12vmin;
  top: 0;
  transform: translate(0, -100%); }

body {
  color: #efefae;
  margin: 0;
  overflow-x: hidden; }
  body .content {
    background-color: rgba(0, 0, 0, 0.8); }
  body a {
    color: inherit; }
    body a:hover {
      color: #ffffae; }
  body .stream {
    margin-top: 8px; }
  body .line {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0 4px;
    padding-top: 2px;
    width: calc(100% - 12px);
    font-family: "Fira Code"; }
    body .line p {
      display: inline-block;
      margin: 0;
      padding: 0; }
    body .line .name {
      max-width: 80px;
      min-width: 80px;
      text-align: right;
      padding-right: 6px; }
  body .editline {
    background-color: #262626;
    padding: 2px 4px 0px 4px;
    width: calc(100%);
    margin: 0;
    margin-bottom: 8px; }
    body .editline .edit {
      min-width: calc(100% - 200px);
      outline: none; }
    body .editline .time {
      user-select: none;
      cursor: default; }

::selection {
  color: #ffffae;
  background: #005F5F; }

::-webkit-scrollbar {
  background-color: #3a3a3a;
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  background-color: #bcbcbc; }

::-webkit-scrollbar-corner {
  background-color: #3a3a3a; }

::-webkit-resizer {
  background-color: #3a3a3a; }
